m4/
!.ci/m4
libtool
configure
config.guess
config.h
config.h.in
config.site
config.sub
config.log
config.status
autom4te.cache
aclocal*
Makefile.in
ar-lib
compile
depcomp
ltmain.sh
missing
install-sh
*~
.tarball-version
.version
.deps
.libs
DISTINFO
*.tar.*
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
.lock-waf*
.waf*
bin.*
*build
build
build.*
Makefile
__pycache__
.cache
*.o
*.lo
*.dirstamp
*.la
stamp-h1

# binaries
pkg/acs/acs2d
pkg/acs/acsccd
pkg/acs/acscte
pkg/acs/acsrej
pkg/acs/acssum
pkg/acs/calacs
pkg/stis/cs0
pkg/stis/cs1
pkg/stis/cs11
pkg/stis/cs12
pkg/stis/cs2
pkg/stis/cs4
pkg/stis/cs6
pkg/stis/cs7
pkg/stis/cs8
pkg/wfc3/calwf3
pkg/wfc3/wf32d
pkg/wfc3/wf3ccd
pkg/wfc3/wf3cte
pkg/wfc3/wf3ir
pkg/wfc3/wf3rej
pkg/wfc3/wf3sum

