m4/
!.ci/m4
configure
config.guess
config.h.in
config.site
config.sub
autom4te.cache
aclocal*
Makefile.in
ar-lib
compile
depcomp
ltmain.sh
missing
install-sh
*~
.tarball-version
.version
.deps
.libs
DISTINFO
*.tar.*
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
.lock-waf*
.waf*
bin.*
*build
build
build.*
Makefile
__pycache__
.cache
